body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 1em;
    /* background-image: url(C:\Users\HP\Downloads\logo apna doctor.png); */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
   
}

nav li {
    margin-right: 20px;
    text-align: right;
}

nav a {
    color: #337ab7;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-image: url(https://w0.peakpx.com/wallpaper/315/432/HD-wallpaper-medical-hospital.jpg);
    background-size: cover;
    
}

section {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#search-btn {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#doctor-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#doctor-list li {
    margin-bottom: 20px;
}

#doctor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#book-appointment {
    padding: 10px;
    font-size: 16px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#rating-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}